<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header'); %>
</head>

<body>
    <div class="container d-flex flex-column mt-5">
        <h3 style="margin-right: auto; margin-bottom: 1em">
            <a href="/users/create">Create New User</a>
        </h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                    <!-- <th scope="col">Password</th> -->
                    <th scope="col">Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(el => { %>
                <tr>
                    <th scope="row"><%= el.id %></th>
                    <td><%= el.email %></td>
                    <td><%= el.username %></td>

                    <td><%= el.UserGameBiodatum.name %></td>
                    <td>
                        <a class="btn btn-success btn-edit" href="/users/update/<%= el.id %>">Edit</a>
                        |
                        <a class="btn btn-danger btn-delete" href="/users/delete/<%= el.id %>"
                            onclick="confirm('are you sure want to delete?');">Delete</a>
                    </td>
                    <td></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>